@font-face {
	font-family: 'Skyscapers';
	src: url('//2ttf.com/webfont/6IF8GLA3aiM/webfont.ttf') format('truetype');
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

:root {
    --indigo: #6610f2;
}

* {
  scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
}

#logo,
.academate {
    font-family: "Skyscapers";
    color: var(--indigo)
}

#nav-links {
    font-family: 'Roboto Mono', monospace;
}

.toggle-switch {
    position: relative;
    width: 100px;
    height: 50px;
    --light: #d8dbe0;
    --dark: #28292c;
    --link: rgb(27, 129, 112);
    --link-hover: rgb(24, 94, 82);
  }
  
  .switch-label {
    position: absolute;
    width: 100%;
    height: 50px;
    background-color: var(--dark);
    border-radius: 25px;
    cursor: pointer;
    border: 3px solid var(--dark);
  }
  
  .checkbox {
    position: absolute;
    display: none;
  }
  
  .slider {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  
  .checkbox:checked ~ .slider {
    background-color: var(--light);
  }
  
  .slider::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 10px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    -webkit-box-shadow: inset 12px -4px 0px 0px var(--light);
    box-shadow: inset 12px -4px 0px 0px var(--light);
    background-color: var(--dark);
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  
  .checkbox:checked ~ .slider::before {
    -webkit-transform: translateX(50px);
    -ms-transform: translateX(50px);
    transform: translateX(50px);
    background-color: var(--dark);
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  
.toggle-switch {
    scale: 0.5;
}

.underline-box {
    background-color: var(--indigo);
}

.individual-box {
    font-family: 'Roboto', sans-serif;
}

.multipurpose-btn {
    /* background: #FBCA1F; */
    background-color: var(--indigo);
    font-family: inherit;
    padding: 0.6em 1.3em;
    font-weight: 900;
    font-size: 14px;
    border: 3px solid black;
    border-radius: 0.4em;
    box-shadow: 0.1em 0.1em;
}
          
.multipurpose-btn:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em;
}
          
.multipurpose-btn:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em;
}

.to-top {
    background: var(--indigo);
    position: fixed;
    bottom: 16px;
    right: 32px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    color: #fff;
    text-decoration: none;
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s;
    z-index: 100;
}

.active {
    bottom: 32px;
    pointer-events: auto;
    opacity: 1;
}

@media (max-width: 768px) {
  .to-top {
    width: 40px;
    height: 40px;
  }
}